h1 {
    color: red;
}
.hat {
color: red;
}
li{
    color: maroon;
}

h3 {
    color: maroon;

}
.head{
    background-color: yellow;
    color: brown;
}
.sit{
    color: red;
}
.mat {
    color: red;
    letter-spacing: 5px;
}
.with {
      background-color: yellow;
}
.wt{
    color: maroon;
}
p{
    color: maroon;
}
.test2 {
    color: brown;
    background-color: yellow;
}